<div class="container">
  <h1>Welcome to Domicic Toretto Blog!</h1>
  <p>SMOKE IT!</p>

  <img src="http://images4.fanpop.com/image/photos/23600000/toretto-dominic-toretto-23610757-535-357.jpg"/><br><br>


    <a href="/posts/show/all">
      <p>Show all post</p>
    </a>

    <a href="/posts/new">
    <p>Create New Post</p>
    </a>

</div>





<!--   <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->

